body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #323A45;
  transition: all .3s;
}

a:hover {
  color: #5983ff;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5 {
  color: #444;
  font-size: 18px;
}

h3:before, h3:after{
  content: "";
  background-color: #616161;
  display: inline-block;
  width: 120px;
  height: 1px;
  margin: 0 6rem;
  vertical-align: middle;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  color: #555;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.section-title h3 {
  margin: 10px 0;
  font-size: 60px;
  font-weight: 300;
  line-height: 36px;
}

.gray-section {
  background: #f4f4f4;
  color: #888;
}
/*-------  ここまで共通のCSS  --------*/

/*-------  ここからheader  --------*/
header {
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(34, 49, 52, 0.9);
  line-height: 50px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  z-index: 10;
}

.header-title {
  float: left;
}

.header-logo {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
  padding: 20px 0 0 10px;
}

.header-menu-right {
  float: right;
}

.header-menu-right li {
  float: left;
}

.header-menu-right a {
  color: #fff;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  font-size: 40px;
}

.header-menu {
padding: 20px 0 0 0;
}
.header-menu-right a:hover {
  color: #5983ff;
  transition: color .3s;
}

/*-------モーダル -------*/
.login-modal-wrapper, .signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none;を追加してください */
  display: none;
}

.modal1 {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}


#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}
.form-control{
  margin-left: 55px;
}


/*-------  ここまでheader  --------*/

/*-------  ここからtop content  --------*/
.top-section {
  margin: 0 auto;
  text-align: center;
  background-image: url("https://www.pakutaso.com/shared/img/thumb/AME_3J0A2466_TP_V.jpg");
  background-size: cover;
  height:700px;
}

.top-inner {
  padding: 0;
  padding-top: 180px;
  padding-bottom: 120px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 600px;
}

.top-description {
  margin-top: 30px;
  margin-bottom: 20px;
}



.top-section h2 {
  font-family: 'Dosis', sans-serif;
  color: #d0d0d0;
  font-size: 120px;
  line-height: 130px;
  margin: 10px 0 30px 0;
  font-weight: 400;
}

.top-description p {
  color: #bababa;
  font-size: 50px;
  line-height: 50px;
}

.top-section .top-button {
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s;
}

/*-------  ここまでtop content  --------*/

/*-------  ここからstamp  --------*/
.stamps-section {
  text-align: center;
  padding-bottom: 60px;
}

#stamps > .container {
  width: 100%;
}

.stamp-box {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  height:　500px;
}
.stamp-box h4 {
  font-size: 60px;
  position: absolute;
  top: 60%;
  width: 100%;
  font-weight: bold;
}

.stamp-image {
  width: 50%;
  height: 50%;
  margin: 10px 0;
  padding: 0px;
}

#stamp-carousel img {
  display: inline-block;
}

#stamp-carousel li {
  background-color: #869791;
}
.carousel-indicators {
  z-index: 5;
}

.stamp-link {
  color: #5983ff;
}

/*-------  ここまでstamp  --------*/

/*-------  ここからinterview  --------*/
.interview-section-top {
  text-align: center;
  height: 376px;
}

.interview-section-bottom {
  padding-top: 120px;
}


.interview-image {
  width: 280px;
  border-radius: 50%;
}

/*カテゴリ*/

.lesson {
  float: left;
  width: 50%;
  margin-top: 20px;
}

.lesson-icon {
  position: relative;
}

.text {
  width: 80%;
  color: black;
  font-size: 30px;
  margin-top: 15px;
  display: inline-block;
}

/*カテゴリ*/
.category-icon {
  height: 70%;
  width:  70%;
}
.lesson-icon p {
  position: absolute;
  top: 35%;
  width: 100%;
  color: gray;
  font-size: 50px;
  font-weight: bold;
}


/* 記事一覧のarticle */
#content_main {
  width: 100%;
  margin: auto;
  border: solid 1px;
}
#content_main .article {
	height: 250px;
	margin-top: 20px;
  border-top: solid 1px;
  width: px;
  margin: auto;
}

/* 記事一覧のfigure */
#content_main .article figure {
	float: left;
	height: 250px;
	width: 250px;
	margin: 0;
}

/* 記事一覧のimg */
#content_main .article figure img {
	border-radius: 5px;
	height: 250px;
	width: 250px;

}

/* 記事一覧の詳細部分 */
.article-info {
	display: inline-block;
	float: left;
  padding: 30px 0 0 50px;
	width: 600px;
}

/* 記事一覧のタイトル */
.article-info h2 {
	margin-top: 0px;
	margin-bottom: 1.2rem;
}
/*　投稿日　*/
#content_main .article-date {
	color: #8B8B8B;
	margin-left: 1rem;
}
/* 記事冒頭の紹介文 */
.article-info p {
	color: #8B8B8B;
  font-size: 40px;
}
/*-------  ここまでinterview  --------*/

/*-------  ここからcontact  --------*/
.contact-section {
  color: #6a6a6a;
}

.contact-section-inner {
  padding-bottom: 70px;
}

.contact-section h3, .contact-section h4 {
  color: #404040;
}

.contact-section h4 {
  font-size: 22px;
  padding-bottom: 10px;
}

.contact-form input[type="text"], .contact-form textarea {
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.08);
  border: none;
  width: 85%;
  color: #202020;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0;
  box-shadow: none;
  transition: all .3s;
  margin-bottom: 10px;
  padding: 15px;
}

textarea {
  height: 150px;
}

.contact-form {
  display: inline-block;
  vertical-align: top;
  width: 100%;

}

.btn-contact {
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  font-weight: 600px;
  background: #5983ff;
  border: 1px solid #5979ff;
  color: white;
  box-shadow: inset 0 1px 0 #5867ed;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: all .3s;
  margin: 30px;
  padding: 15px 35px;
}

.contact-about {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.contact-about i {
  padding-right: 15px;
  font-size: 30px;
}

.contact-about p {
  margin: 0 0 24px;
  line-height: 24px;
}

.error-message {
  color: #F51414;
  height: 20px;
}
/*-------  ここまでcontact  --------*/

/*-------  ここからfooter  --------*/
footer {
  text-align: center;
  padding: 40px 0;
  color: #999;
  background-color: #222;
}

.footer-logo{
  display:inline-block;
  font-size: 60px;
}

.social-icon {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  background: rgba(94, 144, 255, 0.75);
  width: 80px;
  height: 80px;
  padding-top: 13px;
  border-radius: 50%;
  color: #e3e3e3;
  font-size: 40px;
  margin: 0 15px;
}

.social-icon:hover{
  color: #e3e3e3;
  background-color: rgb(94, 144, 255);
}

.copyright {
  margin-top: 40px;
  font-size: 20px;
}
/*-------  ここまでfooter  --------*/

.offset-3 {
  width: 90%;
  padding-left: 20px;
  margin: 100px 0 100px 0;
}
.badge, .card-title{
  font-size: 50px;
  margin-left: 30px;
}

.btn-block {
  font-size: 60px;
}

/*---------　ここからQUIZ  --------*/
.incorrect {
  color: blue;
  font-size: 60px;
}

.correct {
  color: red;
  font-size: 60px;
}

.explanation {
  background-color: rgba(0, 0, 255, 0.1);
  font-size: 50px;
  border: solid 2px;
  padding: 30px;
  margin-bottom: 100px;
}


/*　　モバイル向けレイアウト　　*/
@media (max-width: 670px) {
  .container {
    width: 670px;
  }

  .lesson {
      width: 100%;
    }

}
